
.icon-info-circled:before { content: '\e800'; } /* '' */
.icon-palette:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-upload-cloud:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-newspaper:before { content: '\f4f0'; } /* '' */